body {
    background-color: lightgray;
    color: darkslategray;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 30%;
}

a {
    color: darkolivegreen;
    font-weight: bold;
    text-decoration: none;
}

input {
    background-color: #eeeeee;
    width: 210px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    column-width: 90px;
    min-width: 200px;
    max-width: 500px;
}

.button, #logout {
    text-align: right;
}

.input {
    line-height: 1.5;

}
