**/cypress/downloads/
**/cypress/screenshots/
**/cypress/videos/
**/modules/__pycache__
**/node_modules
**/selenium/__pycache__
database.db
favicon.ico
geckodriver.log
package-lock.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
